# Visual Studio
.vs/
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# ClickOnce / publish
publish/
*.PublishSettings

# NuGet
*.nupkg
*.snupkg
**/packages/*
*.nuget.props
*.nuget.targets

# User-specific
*.user
*.userosscache
*.suo
*.sln.docstates

# ReSharper / Rider
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea/

# NCrunch
*.ncrunch*
.*crunch*.local.xml

# StyleCop
StyleCopReport.xml

# Profiler
*.psess
*.vsp
*.vspx

# Intermediate/Compiler
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlh
*.tli
*.tmp
*.tmp_proj
*.log
*.tlog
*.cache

# TFS
$tf/

# OS Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
